{% extends 'AppBundle::main.html.twig' %}

{% block title %}Aviso legal | NZ Reformas{% endblock %}
{% block description %}Información legal de la empresa NZ Reformas de Zaragoza. Teléfono: 976 56 55 24. Dirección: Calle Duquesa Villahermosa, 115 Local, 50009 Zaragoza{% endblock %}
{% block extra %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}
    <article>
        <header>
            <nav class="breadcrumbs">
                    <a href="{{ path('app_homepage') }}">Inicio</a>
                </nav>
            <h1>
                Aviso legal
            </h1>
        </header>
        <section>
            <p>
                En cumplimiento del artículo 10 de la Ley 34/2002, de  11 de julio, de Servicios de 
                la Sociedad de la Información y Comercio Electrónico (LSSICE) a continuación se 
                detallan los datos identificativos de la empresa:
            </p>
            <ul>
                <li>
                    Nombre empresa: NZ REFORMAS
                </li>
                <li>
                    Razón social: CONSTRUCCIONES NAVASCUES ZALAYA S.L.
                </li>
                <li>
                    NIF: B50517754
                </li>
                <li>
                    Dirección: POL. IND. EL PORTAZGO NAVES 58-59 - 50011 - ZARAGOZA - ZARAGOZA
                </li>
                <li>
                    Teléfono: 976565524
                </li>
                <li>
                    Email: ncgrupo@telefonica.net
                </li>
            </ul>
        </section>
        <section>
            <h3>
                FINALIDAD DE LA PÁGINA WEB.
            </h3>
            <p>
                Aquí debe describir la finalidad o actividad de la web o de la empresa. Precios de 
                los productos o servicios que se ofrecen a través de la web, con indicación de los 
                impuestos y gastos de envío.
            </p>
            <p>
                El presente aviso legal (en adelante, el "Aviso Legal") regula el uso del sitio web:
                www.nzreformas.es
            </p>
        </section>
        <section>
            <h3>
                LEGISLACIÓN
            </h3>
            <p>
                Con carácter general las relaciones entre B50517754 (NZ REFORMAS) con los Usuarios 
                de sus servicios telemáticos, presentes en este sitio web, se encuentran sometidas a
                la legislación y jurisdicción españolas.
            </p>
        </section>
        <section>
            <h3>
                USO Y ACCESO DE USUARIOS
            </h3>
            <p>
                El Usuario queda informado, y acepta, que el acceso a la presente web no supone, en 
                modo alguno, el inicio de una relación comercial con CONSTRUCCIONES NAVASCUES ZALAYA
                S.L. (NZ REFORMAS) o cualquiera de sus delegaciones.
            </p>
        </section>
        <section>
            <h3>
                PROPIEDAD INTELECTUAL E INDUSTRIAL
            </h3>
            <p>
                Los derechos de propiedad intelectual del contenido de las páginas web, su diseño 
                gráfico y códigos son titularidad de CONSTRUCCIONES NAVASCUES ZALAYA S.L. (NZ REFORMAS)
                y, por tanto, queda prohibida su reproducción, distribución, comunicación pública, 
                transformación o cualquier otra actividad que se pueda realizar con los contenidos 
                de sus páginas web ni aun citando las fuentes, salvo consentimiento por escrito de 
                CONSTRUCCIONES NAVASCUES ZALAYA S.L. (NZ REFORMAS).
            </p>
        </section>
        <section>
            <h3>
                CONTENIDO DE LA WEB Y ENLACES (LINKS)
            </h3>
            <p>
                CONSTRUCCIONES NAVASCUES ZALAYA S.L. (NZ REFORMAS)  se reserva el derecho a 
                actualizar, modificar o eliminar la información contenida en sus páginas web 
                pudiendo incluso limitar o no permitir el acceso a dicha información a ciertos 
                usuarios.
            </p>
            <p>
                CONSTRUCCIONES NAVASCUES ZALAYA S.L. (NZ REFORMAS) no asume responsabilidad alguna 
                por la información contenida en páginas web de terceros a las que se pueda acceder 
                por "links" o enlaces desde cualquier página web propiedad de CONSTRUCCIONES 
                NAVASCUES ZALAYA S.L. (NZ REFORMAS). La presencia de "links" o enlaces en las 
                páginas web de CONSTRUCCIONES NAVASCUES ZALAYA S.L. (NZ REFORMAS) tiene finalidad 
                meramente informativa y en ningún caso supone sugerencia, invitación o recomendación
                sobre los mismos.
            </p>
        </section>
    </article>
{% endblock %}
