{# src/AppBundle/Resources/views/Default/avisoLegal.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Aviso legal{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Aviso legal</h1>
            <h2>Condiciones y términos de uso de la web</h2>
        </header>
        
        <section>
            <h3>Propiedad intelectual</h3>
            <p>
                Construcciones Navascués Zalaya S.L. es titular de este dominio de Internet.
                Los derechos de propiedad intelectual de este sitio web y de sus elementos contenidos son titularidad de Construcciones Navascués Zalaya S.L.
            </p>
        </section>

        <section>
            <h3>Reproducción</h3>
            <p>
                La reproducción de los contenidos de esta Web está autorizada siempre que se cite su origen o se solicite autorización, excepto en lo que atañe a datos protegidos por la Ley orgánica 15/1999, de 13 de diciembre, de protección de datos de carácter personal u otra información que pudiese estar protegida por otras disposiciones legales.
            </p>
        </section>

        <section>
            <h3>Servicios</h3>
            <p>
                Se pretende reducir al mínimo las interrupciones de servicios y los problemas ocasionados por errores de carácter técnico. No se asume ninguna responsabilidad respecto de las interrupciones o deficiencias en el servicio, ni de problemas que puedan resultar de la consulta de estas páginas.
            </p>
        </section>

        <section>
            <h3>Recomendaciones de acceso</h3>
            <p>
                Construcciones Navascués Zalaya S.L. procura que la presentación de todos los contenidos y funcionalidades esenciales de la web sea independiente de los dispositivos físicos y navegadores web empleados para tal fin, codificados con estándares técnicos de uso libre y gratuito, y accesibles para navegadores adaptados a personas con minusvalías o limitaciones sensoriales, motoras o cognitivas.
                Se recomienda emplear navegadores de versión reciente tales como Mozilla y derivados (Firefox), Opera, Internet Explorer, etc.
                En equipos de sobremesa de uso común se recomienda el uso de resoluciones de pantalla de 1024 x 768 pixels en adelante.
            </p>
        </section>

        <section>
            <h3>Términos de uso</h3>
            <p>
                Está prohibido el envío de correo masivo no solicitado o de correo no solicitado (SPAM) dirigido a cuentas de correo electrónico utilizadas en esta Web.
                Está prohibido utilizar esta Web con fines comerciales o de manera inadecuada atendiendo a su propia finalidad.
                El usuario no podrá acceder al sitio Web de modo que dañe, deteriore, inutilice o sobrecargue los servicios y/o la información ofrecida.
            </p>
        </section>

        <section>
            <h3>Privacidad de datos de carácter personal</h3>
            <p>
                La política de privacidad se basa en solicitar únicamente los datos estrictamente imprescindibles para poder proporcionarle los servicios de la Web.
                El tratamiento de los datos de carácter personal que se realice a través de este sitio Web estará sujeto a lo establecido en la Ley orgánica 15/1999, de protección de datos de carácter personal, y en el resto de la normativa de la aplicación. Los datos que se recojan se trasladarán informáticamente o se archivarán con consentimiento del ciudadano, que tiene derecho a decidir quien puede tener sus datos, para que los usa, solicitar que estos sean exactos y que se utilicen para el fin para el que se recogen, con excepciones previstas en la legislación vigente.
            </p>
        </section>
    </article>
{% endblock %}
