{% extends 'AppBundle::main.html.twig' %}
{% import "AppBundle:Static:share.html.twig" as share %}

{% block title %}Empresa | NZ Reformas{% endblock %}
{% block description %}NZ Reformas e Interiorismo, es mucho más que una empresa de reformas. Planteamos cada proyecto, 
    como si fuera la renovación de nuestro hogar.{% endblock %}

    {% block content %}
        <figure class="img-header" >
            <img class="resized" src="{{ asset('bundles/app/images/fachada-nz-reformas-high.jpg')}}" title="Empresa de reformas en Zaragoza" alt="Empresa de reformas en Zaragoza" />
        </figure>
        <article>
            <nav class="breadcrumbs">
                <a href="{{ path('app_homepage') }}">Inicio</a>
            </nav>
            <h1>Empresa</h1>
            <p>
                NZ Reformas e Interiorismo es una empresa de reformas que forma parte de Construcciones 
                Navascués Zalaya, como sociedad limitada. Contamos con más de 20 años de experiencia en 
                edificación y reformas de cualquier tipo, lo que nos permite ofertar a nuestros clientes
                , además de un precio competitivo, una ejecución programada de los trabajos, acorde a 
                las necesidades del proyecto, así como una financiación directa “Sin  bancos”. Disponemos
                de un gran equipo humano, altamente cualificado y con gran profesionalidad, que se 
                implican al máximo día a día para obtener los mejores resultados , y para conseguir la 
                satisfacción del cliente.
            </p>
            <p>
                Puede consultarnos sin ningún problema, y solicitar presupuesto sin costes ni 
                compromisos. Si quiere ponerse en contacto con nosotros puede llamar por teléfono al 
                <strong>976
                    56 55 24</strong> , enviar un e-mail a <strong>info@nzreformas.es</strong>, desde nuestra página de contacto podrá 
                <a href="{{ path ('app_static',{'page': 'pedir-presupuesto' }) }}" >pedir presupuestos de reformas en Zaragoza</a> o si decide visitarnos
                a nuestra ubicación puede encontrarnos en nuestra <a target="_blank" href="https://www.google.com/maps/place/Exposici%C3%B3n+de+reformas+en+Zaragoza/@41.673397,-0.9515177,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x176c9b4f4dfbc9ea!8m2!3d41.673397!4d-0.949329?hl=es" >
                    exposición de reformas en el Polígono el Portazgo Naves 58-59</a> , junto a la 
                rontonda de Pikolín.
            </p>

            {{ share.social( app.request.uri ) }}

        </article>
    {% endblock %}
