{# src/AppBundle/Resources/views/Default/empresa.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Empresa de reformas{% endblock %}
{% block content %}

    <figure class="img-header" >
        <img src="{{ asset('images/oficina.jpg') }}" alt="Oficina Navascués Zalaya S.L." title="Oficina Navascués Zalaya S.L." />
        <figcaption>Nuestra fachada, NZ Reformas forma parte de Construcciones Navascués Zalaya S.L.</figcaption>
    </figure>
    <article>
        <h1>Empresa de reformas</h1>    
        <p>
            Construcciones Navascués  Zalaya,  S.L. / NZ Reformas e Interiorismo  es  una  
            empresa  constructora fundada en 1992, como sociedad limitada, y con mas de 20 años 
            de experiencia ya  a  la espalda desde su inscripción. Contando una amplia 
            experiencia  en edificación y reformas de cualquier tipo lo  que nos permite ofertar
            a nuestros clientes, además de un precio competitivo, una  ejecución  programada de 
            los  trabajos,  acorde a las  necesidades  del proyecto, así  como una financiación 
            directa “Sin bancos”. Disponemos de un gran equipo humano, altamente  cualificado y 
            con gran profesionalidad, que se  implican  al  máximo  día  a  día  para  obtener  
            los  mejores  resultados, y  para conseguir la satisfacción del cliente.
        </p>
    </article>
{% endblock %}
