{# src/AppBundle/Resources/views/Default/empresa.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Impermeabilizaciones Zaragoza{% endblock %}
{% block content %}

    <figure class="img-header" >
        <img src="{{ asset('bundles/app/images/presentacion/oficina.jpg')}}" alt="Puertas" title="Puertas" />
        <figcaption>Impermeabilizaciones Zaragoza</figcaption>
    </figure>
    <article>
        <h1>Impermeabilizaciones Zaragoza</h1>    
        <p>
            Impermeabilizaciones Zaragoza, consectetur adipiscing elit. Donec id pellentesque metus. 
            Quisque pellentesque posuere pulvinar. Nulla in interdum mauris. Maecenas sed nulla a ex
            vehicula viverra vitae non lectus. Vestibulum non egestas diam, sed pharetra arcu. In 
            interdum ex at tortor sodales, ac dapibus augue auctor. Nullam id risus a ex gravida 
            pellentesque ut non tortor. Nam neque ipsum, pretium ut ex quis, efficitur pulvinar 
            lacus. Nulla feugiat pulvinar laoreet. Maecenas vel condimentum lacus. Ut felis ex, 
            sodales et est nec, aliquet viverra felis. Nunc mollis nulla arcu, sed sollicitudin 
            velit mollis in. Vestibulum eleifend purus ut sapien laoreet mattis. Nam rhoncus arcu 
            tellus, eget viverra enim venenatis nec. Phasellus egestas lacus erat, id lobortis nisl 
            dignissim vitae.

            Mauris ut turpis et arcu luctus faucibus quis eu dolor. Integer ullamcorper leo at magna
            tempor, id feugiat leo tempor. Nullam aliquet non ante a auctor. Mauris et dictum urna,
            quis lacinia odio. Ut quis posuere mi. Sed sed rhoncus diam. Phasellus placerat dapibus 
            velit, sed facilisis nisl fermentum finibus.

            Etiam bibendum mauris ut augue auctor, vel placerat elit aliquam. Nunc congue ligula vel
            tortor molestie, et blandit quam vulputate. Fusce ac libero varius, maximus massa sed, 
            sagittis nisl. Donec orci.
        </p>
    </article>
{% endblock %}