{% extends 'AppBundle::main.html.twig' %}

{% block title %}Política de privacidad | NZ Reformas{% endblock %}
{% block description %}Información legal de la empresa NZ Reformas de Zaragoza. Teléfono: 976 56 55 24. Dirección: Polígono el Portazgo, naves 58-59, 50011 Zaragoza{% endblock %}
{% block extra %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}
    <article>
        <header>
            <nav class="breadcrumbs">
                <a href="{{ path('app_homepage') }}">Inicio</a>
            </nav>
            <h1>Política de privacidad</h1>
        </header>
        <section>
            <p>
                A efecto de lo previsto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección
                de Datos de Carácter Personal CONSTRUCCIONES NAVASCUES ZALAYA S.L. en adelante, (NZ 
                REFORMAS),  con  NIF: B50517754 informa al Usuario de que es titular de ficheros de 
                datos de carácter personal inscritos en el R.G.P.D. (Registro General de Protección 
                de Datos) en los que sus datos quedan incorporados y son tratados con el fin de 
                prestarle los servicios solicitados y enviarle la información acerca de nuestra 
                empresa que pueda ser de su interés.
            </p>
        </section>
        <section>
            <h2>
                ENVIO Y REGISTRO DE DATOS DE CARÁCTER PERSONAL
            </h2>
            <p>
                El envío de datos de carácter personal es obligatorio para contactar y recibir 
                información sobre los servicios prestados por (NZ REFORMAS). Asimismo, el no 
                facilitar los datos personales solicitados o el no aceptar la presente política de 
                protección de datos supone la imposibilidad de suscribirse, registrarse o recibir 
                información de dichos servicios.
            </p>
            <p>
                De acuerdo a lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de 
                Protección de Datos de Carácter Personal, le informamos que los datos personales que
                se obtengan como consecuencia de su envío de datos personales, serán incorporados a 
                un fichero titularidad de (NZ REFORMAS) con domicilio POL. IND. EL PORTAZGO NAVES 
                58-59 - 50011 - ZARAGOZA - ZARAGOZA, teniendo implementadas todas las medidas de 
                seguridad establecidas en el Real Decreto 1720/2007.
            </p>
        </section>
        <section>
            <h3>
                Exactitud y veracidad de los datos facilitados.
            </h3>
            <p>
                El Usuario que envía la información a (NZ REFORMAS) es el único responsable de la 
                veracidad y corrección de los datos incluidos, exonerándose (NZ REFORMAS) de 
                cualquier responsabilidad al respecto.
            </p>
            <p>
                Los usuarios garantizan y responden, en cualquier caso, de la exactitud, vigencia y 
                autenticidad de los datos personales facilitados, y se comprometen a mantenerlos 
                debidamente actualizados. El usuario acepta proporcionar información completa y 
                correcta en el formulario de registro o suscripción.
            </p>
            <p>
                (NZ REFORMAS) no responde de la veracidad de las informaciones que no sean de 
                elaboración propia y de las que se indique otra fuente, por lo que tampoco asume 
                responsabilidad alguna en cuanto a hipotéticos perjuicios que pudieran originarse 
                por el uso de dicha información. Se exonera a (NZ REFORMAS) de responsabilidad ante
                cualquier daño o perjuicio que pudiera sufrir el Usuario como consecuencia de 
                errores, defectos u omisiones, en la información facilitada por (NZ REFORMAS) 
                siempre que proceda de fuentes ajenas a (NZ REFORMAS).
            </p>
        </section>
        <section>
            <h3>
                Cesión de datos a terceros.
            </h3>
            <p>
                (NZ REFORMAS) no cederá los datos personales a terceros. No obstante, en el caso de 
                ser cedidos a algún tercero se produciría una información previa solicitando el 
                consentimiento expreso del afectado en virtud del Art. 6 LOPD.
            </p>
        </section>
        <section>
            <h3>
                Ejercicio de derechos de acceso, rectificación, cancelación y oposición.
            </h3>
            <p>
                Podrá dirigir sus comunicaciones y ejercitar los derechos de acceso, rectificación, 
                cancelación y oposición a través de correo postal en: CONSTRUCCIONES NAVASCUES 
                ZALAYA S.L. POL. IND. EL PORTAZGO NAVES 58-59 - 50011 - ZARAGOZA - ZARAGOZA, o al 
                correo electrónico: ncgrupo@telefonica.net junto con prueba válida en derecho, como 
                fotocopia del D.N.I. e indicando en el asunto "PROTECCIÓN DE DATOS".
            </p>
        </section>
        <section>
            <h3>
                Aceptación y Consentimiento.
            </h3>
            <p>
                El Usuario declara haber sido informado de las condiciones sobre protección de datos
                de carácter personal, aceptando y consintiendo el tratamiento de los mismos por 
                parte de (NZ REFORMAS), en la forma y para las finalidades indicadas en la presente 
                Política de Protección de Datos Personales.
            </p>
        </section>
        <section>
            <h2>
                CAMBIOS EN LA PRESENTE POLÍTICA DE PRIVACIDAD.
            </h2>
            <p>
                (NZ REFORMAS) se reserva el derecho a modificar la presente política para adaptarla 
                a novedades legislativas o jurisprudenciales así como a prácticas de la industria. 
                En dichos supuestos, (NZ REFORMAS) anunciará en esta página los cambios introducidos
                con razonable antelación a su puesta en práctica.
            </p>
        </section>
    </article>
{% endblock %}
