{# src/AppBundle/Resources/views/Default/baños.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Reformas en Baños{% endblock %}
{% block content %}
    <article>
        <h1>Proyectos</h1>
        <ul class="gallery">
            <li class="rounded-gallery-item" >
                <a href="{{ path ('app_static',{'page': 'comunidades'}) }}" >
                    <h2>Comunidades</h2>
                    <img src="/images/proyectos/comunidades/baños.jpg" alt="Imagen no disponible" />
                </a>
            </li>
        </ul>

    </article>
{% endblock %}