{# src/AppBundle/Resources/views/Default/empresa.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Reformas pisos Zaragoza{% endblock %}
{% block content %}

    <figure class="img-header" >
        <img src="{{ asset('bundles/app/images/presentacion/oficina.jpg' )}}" alt="Reformas pisos Zaragoza" title="Reformas pisos Zaragoza" />
        <figcaption>Reformas pisos Zaragoza</figcaption>
    </figure>
    <article>
        <h1>Reformas pisos Zaragoza</h1>    
        <p>
            En todas las ciudades y pueblos, los edificios más antiguos, son los que en la mayoría 
            de los casos necesitan <strong>reformas en pisos de Zaragoza</strong>, o de cualquier 
            otra ciudad, ya que las viviendas de los barrios con más tradición e historia de las 
            diversas capitales de provincia, son edificios antiguos. En algunos casos con más de 100
            años desde su construcción. Así, es posible que encontremos una vivienda en el casco 
            antiguo de Zaragoza en la que sea necesario realizar reformas.
        </p>
        <p>
            A la hora de hacer <strong>reformas en pisos en Zaragoza</strong> o en cualquier otra 
            población hay que tener en cuenta el nivel de conversión que hace falta. Es decir, si 
            hay que modificar instalaciones, si es sólo movimiento de tabiques o si se trata de una 
            reforma integral. En NZ Reformas, somos conscientes de que las <strong>reformas en pisos
                de Zaragoza</strong> o de cualquier otro lugar, necesitan de un proyecto previo en 
            el que estudiar el nivel de profundidad de la reforma que es necesario realizar. 
        </p>
        <p>
            Disponemos de todo un equipo de profesionales multidisciplinar que puede asesorar y 
            realizar <strong>reformas en pisos en Zaragoza</strong> o en la población que 
            corresponda. Escuchamos a nuestros clientes para saber y conocer cuáles son sus 
            necesidades y requerimientos para desarrollar un proyecto completo. En el que 
            recopilamos toda la información para incluir en el presupuesto todos los componentes o 
            elementos necesarios que puedan resultar de utilidad para conseguir el nuevo entorno de 
            trabajo o de residencia para nuestros clientes. 
        </p>
        <p>
            Así, no dude en consultarnos a la hora de hacer <strong>reformas de pisos en Zaragoza
            </strong>, todo lo que pueda necesitar aclarar para poder proporcionarle un presupuesto 
            sin compromiso y que contemple todos los elementos para convertir su espacio en el 
            entorno más agradable para desarrollar su actividad diaria. Contáctenos a través de 
            nuestra <a href="{{ path('app_contact',{'page': 'contacto' }) }}" >página de contacto</a>, correo electrónico 
            (info@nzreformas.es) o teléfono (976 56 55 24).
        </p>
    </article>
{% endblock %}
