{# src/AppBundle/Resources/views/Default/empresa.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Reformas de comunidades en Zaragoza{% endblock %}
{% block content %}

    <figure class="img-header" >
        <img src="{{ asset('bundles/app/images/presentacion/oficina.jpg' )}}" alt="Reformas de comunidades en Zaragoza" title="Reformas de comunidades en Zaragoza" />
        <figcaption>Reformas de comunidades en Zaragoza</figcaption>
    </figure>
    <article>
        <h1>Reformas de comunidades en Zaragoza</h1>    
        <p>
            Las comunidades de propietarios son unos de los colectivos que deben enfrentarse a la 
            realización de reformas, pasados los años, en los espacios comunes de la comunidad. Para
            los propietarios, si necesitan hacer reformas en las comunidades de Zaragoza, puede 
            resultar un quebradero de cabeza, así que lo más recomendable es contratar a un 
            especialista, que realice todas las gestiones necesarias para proceder a realizar las 
            reformas que sean oportunas, bajo supervisión y aprobación de todos los miembros de la 
            comunidad. 
        </p>
        <p>
            En NZ Reformas, cuentan con un equipo técnico de profesionales que pueden realizar las 
            <strong>reformas de comunidades en Zaragoza</strong>, sin ningún tipo de problema, desde
            grandes proyectos, a proyectos sencillos en los que la intervención o modificación del 
            espacio sea mínima. Lo importante es rodearse de los profesionales adecuados que nos 
            permitan realizar las gestiones necesarias para poder dotar de un nuevo entorno a la 
            comunidad y así ofrecer un espacio confortable a todos los residentes de la finca.
        </p>
        <p>
            A la hora de realizar <strong>reformas en comunidades en Zaragoza</strong>, o en 
            cualquier otra población, lo más importante es que toda la comunidad esté conforme con 
            los cambios que es necesario realizar y que se pueda recibir el asesoramiento de los 
            profesionales especializados, como pueden ser NZ Reformas, para obtener, con el mejor 
            precio, los mejores resultados. Satisfaciendo las exigencias de todos los propietarios 
            miembros de la comunidad, o al menos, de su gran mayoría.
        </p>
        <p>
            En definitiva, se trata de poder facilitar a las comunidades y sus propietarios el 
            máximo de reformas posibles, para que puedan realizarse de manera profesional y sin 
            complicaciones o incidencias. Por ello no dude en contactar con NZ Reformas a través de 
            nuestra <a href="{{ path('app_contact',{'page': 'contacto' }) }}" >página de contacto</a>, correo electrónico 
            (info@nzreformas.es) o teléfono (976 56 55 24). Le proporcionarán todo el asesoramiento 
            necesario para realizar <strong>reformas en comunidades en Zaragoza</strong> con todas 
            las garantías de trabajar con especialistas avalados por su larga trayectoria 
            profesional. 
        </p>
    </article>
{% endblock %}
