{# src/AppBundle/Resources/views/Default/empresa.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Reformas de cocinas Zaragoza{% endblock %}
{% block content %}

    <figure class="img-header" >
        <img src="{{ asset('bundles/app/images/servicios/reformas-de-cocinas-zaragoza.jpg') }}" alt="Reformas de cocinas Zaragoza" title="Reformas de cocinas Zaragoza" />
        <figcaption>Reformas de cocinas Zaragoza</figcaption>
    </figure>
    <article>
        <h1>Reformas de cocinas Zaragoza</h1>
         <p>
            Las reformas de cocinas son uno de los proyectos con más repercusión sobre la vivienda. 
            Plantear este tipo de reformas puede desalentar a muchos clientes por el desconocimiento
            del coste aproximado de una cocina. La estimación de una reforma de cocina sin una 
            visita previa es complicada, hay que tener encuenta muchas posibilidades, pero nuestro 
            conocimiento y experiencia en el sector aportan una base sólida para lograr los 
            objetivos de nuestros clientes.           
        </p>
        <p>
            Dado que cada reforma de cocina es diferente, hay muchas opciones de configuración, ya 
            sea por la disposición del mobiliario y los electrodomésticos, o la selección de 
            materiales. Además de estudiar el diseño de la cocina, hay tener en cuenta su 
            funcionalidad, una cocina ha de ser tanto cómoda, como práctica. Por eso disponemos de 
            los mejores especialistas, y un amplia gama de materiales que escoger. Moldeamos su 
            cocina a su gusto.
        </p>
        <p>
            El precio no es un problema, ajustamos cada presupuesto al máximo sin dejar de lado la 
            calidad. Además contamos con diferentes métodos de pago en plazos, acordes a la 
            posibilidades del cliente, de forma financiada, sin bancos. Esto supone una diferencia 
            sustancial, se pueden implementar mejoras que no se tenian pensadas por su elevado coste
            . Por esta razón es muy importante una planificación exacta, para evitar cualquier 
            imprevisto.
        </p>
        <p>
            De modo que no dude en consultarnos, aclararemos cualquier duda. Y si quiere, puede 
            solicitar presupuesto para una <strong>reforma de cocina</strong>, no conlleva 
            compromiso y es gratis. Realizaremos un proyecto de reforma integral a su gusto. 
            Contáctenos a través de nuestra 
            <a href="{{ path ('app_contact') }}" >página de contacto</a>, correo
            electrónico (info@nzreformas.es) o teléfono (976 56 55 24).
        </p>
    </article>
{% endblock %}