{# src/AppBundle/Resources/views/Default/empresa.html.twig #}
{% extends 'AppBundle::main.html.twig' %}

{% block title %}Rehabilitación de fachadas en Zaragoza{% endblock %}
{% block content %}

    <figure class="img-header" >
        <img src="{{ asset('bundles/app/images/servicios/Rehabilitacion-de-fachadas-Zaragoza.jpg')}}" alt="Rehabilitación de fachadas Zaragoza" title="Rehabilitación de fachadas Zaragoza" />
        <figcaption>Rehabilitación de fachadas en Zaragoza</figcaption>
    </figure>
    <article>
        <h1>Rehabilitación de fachadas en Zaragoza</h1>    
        <p>
            La realización de reformas en una comunidad, puede implicar una <strong>rehabilitación 
                de fachadas en Zaragoza</strong>, o en el lugar en el que residamos.  Es por ello 
            que en estos casos, es imprescindible acudir a profesionales especializados en la 
            realización de reformas o rehabilitaciones como NZ Reformas, con más de 20 años de 
            experiencia en el sector.
        </p>
        <p>
            De hecho, durante 2015, el Gobierno de Aragón ha destinado 6 millones de euros a la 
            rehabilitación de edificios para proceder a la renovación de viviendas, para propulsar 
            el sector de la construcción. La <strong>rehabilitación de fachadas en Zaragoza</strong>
            , podría ser uno de  los factores que haya permitido reactivar el sector de la 
            construcción, volviendo así a movilizar todo un sector que con el cese del boom 
            inmobiliario quedó bastante afectado. 
        </p>
        <p>
            Así, empresas dedicadas al sector de la construcción, pueden encontrar en la <strong>
                rehabilitación de fachadas en Zaragoza</strong>, una vía para conseguir volver a 
            funcionar y recuperarse en este ámbito. De hecho, realizando la correcta 
            rehabilitación de fachadas, es posible que los miembros de la comunidad que residen 
            en el edificio noten diferentes cambios o mejoras en general, como puede ser el 
            ahorro energético, debido al menor uso de calefacción, así como una mejora en cuanto
            a la accesibilidad del edificio.
        </p>
        <p>
            Así, la <strong>rehabilitación de fachadas en Zaragoza</strong>, supone un beneficio, no
            sólo para la empresa que gestiona la reforma, sino también para todos los miembros de la
            comunidad que en ella residen.  Ya que a pesar de la importante inversión que es 
            necesario realizar para proceder a los cambios de mejora, esta queda rápidamente 
            amortizada, con las ventajas que se desprenden de la reforma. 
        </p>
        <p>
            Otro de los elementos que supone una ventaja al realizar la <strong>rehabilitación de 
                fachadas en Zaragoza</strong> es la consecución de un mayor valor de la vivienda, ya
            que esta se revaloriza desde el momento en el que se finalizan los trabajos de obra 
            y la inversión realizada se amortiza a medio o largo plazo con el ahorro en el 
            consumo de la calefacción y de la luz. 
        </p>
        <p>
            Además de contar con las subvenciones gubernamentales correspondientes que nos 
            permitirán realizar la <strong>rehabilitación de fachadas en Zaragoza</strong> con una 
            inversión menor por parte de los propietarios del edificio. 
        </p>
    </article>
{% endblock %}