{% extends '::base.html.twig' %}
{% block title %}Error 500 | NZ Reformas{% endblock %}
{% block extra %}<meta name="robots" content="noindex">{% endblock %}

{% block main %}
    <main class="single">
        <article class="center" >
            <header>
                <h1>Error 500</h1>
            </header>
            <p>
                Oops! Parece que algo no funciona bien.
            </p>
        </article>
    </main>
{% endblock %}