.home {
    padding: 0;
    text-align:center;

    h1, h2 {
        color: $action-color;
    }

    header {
        @include radial-gradient(lighten($dark-gray,12%), darken($dark-gray,5%));

        background-color: $dark-gray;
        border-bottom: 1px solid $light-gray;

        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);

        padding: 2em;

        h1, h2 {
            font-family: $header-font;
        }
    }

    p { 
        padding: 1em; 
    }

    h1, h2 ,h3 ,p ,input {
        text-align:center;
    }

    label {
        color: white;
    }

    section {
        padding: 3em;

        @include media(max-width $tablet-screen) {
            padding: 2em;
        }
        padding-bottom: 1em;
    }
}


