/* TYPOGRAPHY */



body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;

    hr {
        border-bottom: 1px solid $light-gray;
    }

    p {
        @include clearfix;
        color: $base-font-color;
        font-family: $base-font-family;
        line-height: $base-line-height;
        padding: 1em 0;
        font-size: 1.1em;
        line-height: 1.5em;
        text-align: justify;

        @include media(max-width $tablet-screen) {
            @include span-columns(12);
            font-size: 1em;
            line-height: 1.4em;
            float: none;
        }
    }


    a {
        color: $action-color;
        text-decoration: none;
    }


    img,
    picture {
        margin: 0;
        max-width: 100%;
    }

    .type {
        border-bottom: 1px solid;
        display: inline-block;
        font-family: $base-font-family;
        font-size: 0.7em;
        font-weight: 800;
        margin-bottom: 2em;
        padding: 0.3em 0;
        text-align: left;
        text-transform: uppercase;
    }

    h1 {
        font-family: $heading-font-family;
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 0.5em;


        @include media(max-width $tablet-screen) {
            font-size: 2em;
            font-weight: 500;
            margin-bottom: 0.2em;

        }

        @include media(max-width mobile-screen) {
            font-size: 2em;
            font-weight: 500;
            margin-bottom: 0.2em;

        }
    }

    h2 {
        font-family: $heading-font-family;
        font-size: 1.6em;
        font-weight: 500;
        margin-bottom: 1em;

        @include media(max-width $tablet-screen) {
            font-size: 1.7em;
            font-weight: 400;
        }
    }

    h3 {
        font-family: $heading-font-family;
        font-size: 1.3em;
        font-weight: 400;
        margin-bottom: 0.5em;

        @include media(max-width $tablet-screen) {
            font-size: 1.2em;
            font-weight: 300;
            margin-bottom: 0.25em;
        }
    }

    code {
        background: white;
        border-radius: $base-border-radius * 1.5;
        border: 1px solid $medium-gray;
        font-size: 0.9em;
        font-style: normal;
        padding: 0.1em 0.4em;
        margin: 0.1em;
        white-space: nowrap;
        color: $base-font-color;
        float: left;

        @include media(max-width $tablet-screen){
            white-space: normal;
            float: none;
        }

        a {
            color: $dark-gray;   
        }
    }

    date {
        color: transparentize($base-font-color, 0.6);
        font-family: $heading-font-family;
        font-size: 0.9em;
        font-style: italic;
        margin-bottom: 0.3em;
    }

    .read-more {
        display: inline-block;
        font-family: $base-font-family;
        font-size: 0.8em;
        font-weight: 700;
        margin-left: 0.2em;
        position: relative;
        text-transform: uppercase;

        span {
            font-family: $base-font-family;
            font-size: 1.5em;
            font-style: normal;
            position: absolute;
            right: -12px;
            top: -1px;
        }
    }

    .author {
        font-family: $base-font-family;
    }

    .center {
        text-align: center;

        * {
            text-align: center;

        }
    }

    .news{
        @include clearfix;

        p {  
            @include span-columns(6);
            @include omega(2n);

            @include media(max-width $mobile-screen){
                @include span-columns(12);
                @include omega;
            }
        }
    }


}


