{# src/BlogBundle/Resources/views/Comment/form.html.twig #}

<form action="{{ path('blog_comment_create', { 'slug' : comment.article.slug } ) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="Enviar">
</form>