{# src/BlogBundle/Resources/views/Comment/index.html.twig #}

{% for comment in comments %}
    <div id="{{ comment.id }}" class="comment">
        <header>
            <h3>
                {{ comment.name }}:
            </h3>
        </header>
        <p>{{ comment.comment }}</p>
        <footer class="comment-detail">
            Comentado <time>{{ comment.created|created_ago }}</time>
        </footer>
        {% if not loop.last %}
            <hr>
        {% endif %}
    </div>
{% else %}
    <p>No hay comentarios en este artículo. ¡Sé el primero en comentar!</p>
{% endfor %}