{# src/BlogBundle/Resources/views/Comment/index.html.twig #}

{% for comment in comments %}
    <article id="comment-{{ comment.id }}" class="comment">
        <header>
            <h3>
                {{ comment.name }}:
            </h3>
        </header>
        <p>{{ comment.comment }}</p>
        <footer class="comment-detail">
            Comentado <time>{{ comment.created|created_ago }}</time>
        </footer>
    </article>
{% else %}
    <p>No hay comentarios en este post. Sé el primero en comentar ...</p>
{% endfor %}