{# src/Blogger/BlogBundle/Resources/views/blog.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@BlogBundle/Resources/public/css/*'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <section class="main_content">
        {% block content %}
            Contenido principal
        {% endblock %}
    </section>
    <section class="sidebar">
        {% block sidebar %}
            Sidebar
        {% endblock %}
    </section>
{% endblock %}