@import "../neat/neat-helpers";
@import "variables";

/* GRIDS */

// Neat Overrides
$grid-columns: 12;
$max-width: $max-screen;

body, html {
    height: 100%;
    width: 100%;
    background: $base-background-color; 
}

figure.img-header {
    position: relative;

    figcaption {
        background-color: rgba(255,255,255,0.6);
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 0;
        bottom: 0.3em;
        font-weight: bold;
        font-size: 1.3em;
        padding: 0.2em 0;

        @include media(max-width $normal-screen) {
            padding: 0.1em 0;
            bottom: 0.4em;
            font-weight: normal;
            font-size: 1em;
        }
    }
}

article {
    @include span-columns(10);
    @include shift(1);
    @include clearfix;
    position: relative;
    padding: 2em;
    margin-bottom: 2em;
    float: none;

    @include media(max-width $tablet-screen) {
        @include span-columns(12);
        @include shift(0);
        text-align: center;
        float: none;
    }

    @include media(max-width $phone-screen) {
        padding: 1em;
        margin-bottom: 1em;
    }

    section {
        @include clearfix;
        margin-bottom: 3em;
    }
}

.page-content{
    @include outer-container;

    .single {
        @include span-columns(12);
    }

    .primary {
        @include span-columns(7);
        @include shift(1);

        @include media(max-width $normal-screen) {
            @include span-columns(8);
            @include shift(0);
        }

        @include media(max-width $tablet-screen) {
            @include span-columns(12);
        }
    }


    .secondary {
        @include span-columns(3);
        margin-top: 5em;

        article {
            @include span-columns(12);
            @include shift(0);
        }

        @include media(max-width $normal-screen) {
            @include span-columns(4);
            margin-top: 4em;
        }
        @include media(max-width $tablet-screen) {
            @include span-columns(12);
            margin-top: 0;
        }
    }
}


