html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* VARIABLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  image-rendering: optimizeSpeed; }

@-webkit-keyframes androidbugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
/* VARIABLES */
/* GRIDS */
body, html {
  min-width: 320px;
  height: 100%;
  width: 100%;
  /*    background: $base-background-color; */ }

figure.img-header {
  position: relative; }
  figure.img-header figcaption {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    bottom: 0.3em;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.2em 0; }
    @media screen and (max-width: 64em) {
      figure.img-header figcaption {
        padding: 0.1em 0;
        bottom: 0.4em;
        font-weight: normal;
        font-size: 1em; } }

article {
  position: relative;
  padding: 4em; }
  article::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 64em) {
    article {
      padding: 3em; } }
  @media screen and (max-width: 48em) {
    article {
      padding: 2em; } }
  @media screen and (max-width: 30em) {
    article {
      padding: 1em; } }

.page-content {
  max-width: 123.75em;
  margin-left: auto;
  margin-right: auto; }
  .page-content::after {
    clear: both;
    content: "";
    display: table; }
  .page-content .single {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .page-content .single:last-child {
      margin-right: 0; }
    @media screen and (max-width: 48em) {
      .page-content .single {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%; }
        .page-content .single:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 30em) {
      .page-content .single {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .page-content .single:last-child {
          margin-right: 0; } }
  .page-content .primary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .page-content .primary:last-child {
      margin-right: 0; }
    @media screen and (max-width: 48em) {
      .page-content .primary {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 61.158%; }
        .page-content .primary:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 30em) {
      .page-content .primary {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .page-content .primary:last-child {
          margin-right: 0; } }
  .page-content .secondary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .page-content .secondary:last-child {
      margin-right: 0; }
    @media screen and (max-width: 48em) {
      .page-content .secondary {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 35.26334%; }
        .page-content .secondary:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 30em) {
      .page-content .secondary {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .page-content .secondary:last-child {
          margin-right: 0; } }

/* FORMS */
fieldset {
  background-color: #e6e6e6;
  border: 1px solid #ccc;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Questrial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select[multiple],
textarea {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover, select[multiple]:hover,
  textarea:hover {
    border-color: #b3b3b3; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple]:focus,
  textarea:focus {
    border-color: #E4222E;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(211, 26, 37, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"], button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #E4222E;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Questrial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus {
    background-color: #a5141d;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.comment {
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  display: table;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  width: 100%; }
  .comment .comment-detail {
    color: rgba(68, 68, 68, 0.5);
    font-size: 0.9em;
    font-style: italic; }

/* BASIC LISTS */
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

/* TABLES */
table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ccc;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

/* TYPOGRAPHY */
body {
  color: #444;
  font-family: "Questrial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }
  body h1, body h2, body h3, body p {
    margin-bottom: 0.5em; }
    @media screen and (max-width: 48em) {
      body h1, body h2, body h3, body p {
        margin-bottom: 0.2em; } }
  body hr {
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0; }
  body p {
    color: #444;
    line-height: 1.5; }
    body p::after {
      clear: both;
      content: "";
      display: table; }
  body a {
    color: black;
    text-decoration: none; }
    body a:hover {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: #E4222E; }
  body img,
  body picture {
    margin: 0;
    max-width: 100%; }
  body .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Questrial", sans-serif;
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 0.3em 0;
    text-align: left;
    text-transform: uppercase; }
  body h1 {
    font-family: "Sanchez", serif;
    font-size: 2em;
    font-weight: 700; }
  body h2 {
    font-family: "Sanchez", serif;
    font-size: 1.7em;
    font-style: italic;
    font-weight: 400; }
  body h3 {
    font-family: "Sanchez", serif;
    font-size: 1.4em;
    font-weight: 400; }
  body code {
    background: #F7F7F7;
    border-radius: 4.5px;
    border: 1px solid #E0E0E0;
    font-size: 0.7em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
    color: #444; }
  body date {
    color: rgba(68, 68, 68, 0.4);
    font-family: "Sanchez", serif;
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0.3em; }
  body p {
    font-family: "Questrial", sans-serif;
    font-size: 1.05em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    text-align: justify;
    padding: 1em 0; }
  body .read-more {
    display: inline-block;
    font-family: "Questrial", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase; }
    body .read-more span {
      font-family: "Questrial", sans-serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px; }
  body .author {
    font-family: "Questrial", sans-serif; }

/* MENU */
header.navigation {
  max-width: 123.75em;
  margin-left: auto;
  margin-right: auto;
  background: #1e1e1e;
  padding: 0.5em 2em; }
  header.navigation::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 64em) {
    header.navigation {
      padding: 0.5em 1em; } }
  @media screen and (max-width: 48em) {
    header.navigation {
      padding: 0.5em; } }
  header.navigation a {
    color: #999;
    padding: 1em;
    z-index: 2000; }
    header.navigation a:hover, header.navigation a.active {
      color: white; }
  header.navigation nav {
    background: #1e1e1e; }
    header.navigation nav .logo {
      float: left;
      display: inline; }
      header.navigation nav .logo img {
        padding: 1em;
        float: left;
        height: 80px; }
        @media screen and (max-width: 48em) {
          header.navigation nav .logo img {
            height: 60px;
            padding: 0.5em; } }
        @media screen and (max-width: 30em) {
          header.navigation nav .logo img {
            height: 40px;
            padding: 0.2em; } }
      header.navigation nav .logo h1 {
        float: left;
        font-family: "Questrial", sans-serif;
        font-weight: normal;
        font-size: 1.5em;
        color: #999;
        float: left;
        padding: 1em 0 1em 1em;
        margin-bottom: 0;
        font-style: normal; }
        @media screen and (max-width: 64em) {
          header.navigation nav .logo h1 {
            padding: 1em; } }
        @media screen and (max-width: 48em) {
          header.navigation nav .logo h1 {
            font-size: 1.1em; } }
        @media screen and (max-width: 30em) {
          header.navigation nav .logo h1 {
            display: none; } }
    header.navigation nav .menu-button {
      display: none;
      padding: 0; }
      @media screen and (max-width: 64em) {
        header.navigation nav .menu-button {
          display: block; } }
      @media screen and (max-width: 64em) {
        header.navigation nav .menu-button img {
          display: block;
          float: right;
          padding: 1em;
          height: 80px; } }
      @media screen and (max-width: 48em) {
        header.navigation nav .menu-button img {
          height: 60px;
          padding: 0.5em; } }
      @media screen and (max-width: 30em) {
        header.navigation nav .menu-button img {
          height: 40px;
          padding: 0em; } }
    header.navigation nav > ul {
      padding: 1em 0;
      float: right;
      z-index: 1000; }
      @media screen and (max-width: 64em) {
        header.navigation nav > ul {
          background: #1e1e1e;
          position: fixed;
          float: none;
          top: 0;
          left: -200%;
          right: auto;
          height: 100%;
          min-width: 300px;
          padding: 2em;
          overflow-y: auto;
          -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
          -webkit-transition: left 250ms ease;
          -moz-transition: left 250ms ease;
          -o-transition: left 250ms ease;
          transition: left 250ms ease; }
          header.navigation nav > ul.active {
            left: 0; } }
      header.navigation nav > ul > li {
        position: relative;
        display: inline-block;
        padding: 1em 0; }
        @media screen and (max-width: 64em) {
          header.navigation nav > ul > li {
            display: block;
            background: #2b2b2b;
            border-bottom: 2px solid #1e1e1e; }
            header.navigation nav > ul > lilast-child {
              border-bottom: none; } }
        @media screen and (min-width: 64em) {
          header.navigation nav > ul > li.more {
            margin-right: 1em; }
            header.navigation nav > ul > li.more > a:after {
              position: absolute;
              content: "\25BE";
              right: -0.5em; }
          header.navigation nav > ul > li:hover > ul > li {
            height: 2.7em;
            padding: 0.5em 0;
            border-bottom: 2px solid #1e1e1e;
            background: #2b2b2b; } }
        header.navigation nav > ul > li > ul {
          position: absolute;
          z-index: 1001;
          top: 3em; }
          @media screen and (max-width: 64em) {
            header.navigation nav > ul > li > ul {
              display: block;
              position: relative;
              top: 0;
              padding: 1em 2em 0.5em 2em; } }
          header.navigation nav > ul > li > ul > li {
            overflow: hidden;
            height: 0;
            position: relative;
            background: transparent;
            border-bottom: 2px solid transparent;
            -webkit-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
            transition: all 200ms ease-in; }
            @media screen and (min-width: 48em) {
              header.navigation nav > ul > li > ul > li {
                min-width: 8em; } }
            @media screen and (max-width: 64em) {
              header.navigation nav > ul > li > ul > li {
                display: block;
                height: 2.7em;
                padding: 0.5em 0;
                border-bottom: 2px solid #2b2b2b;
                background: #373737; } }
            header.navigation nav > ul > li > ul > li:last-child {
              border-bottom: none; }
        header.navigation nav > ul > li.back-button {
          display: none; }
          @media screen and (max-width: 64em) {
            header.navigation nav > ul > li.back-button {
              display: block;
              height: 80px;
              background: transparent;
              padding: 0 0 1em 0; } }
          header.navigation nav > ul > li.back-button a {
            padding: 0; }
            header.navigation nav > ul > li.back-button a img {
              display: none; }
              @media screen and (max-width: 64em) {
                header.navigation nav > ul > li.back-button a img {
                  height: 60px;
                  float: right;
                  display: block;
                  padding: 0; } }

/* CARDS */
.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  .cards .card {
    padding: 0;
    -webkit-flex-basis: 15em;
    -moz-flex-basis: 15em;
    flex-basis: 15em;
    -ms-flex-preferred-size: 15em;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px #e6e6e6;
    margin: 0 1em 1.5em 1em;
    position: relative;
    text-align: center; }
    @media screen and (max-width: 30em) {
      .cards .card {
        margin: 1em 0; } }
    .cards .card .card-image {
      height: 140px;
      max-height: 140px;
      background-color: #ccc; }
      .cards .card .card-image img {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 1em;
        opacity: 0.5; }
    .cards .card header {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background-color: #eee;
      border-bottom: 1px solid #ccc;
      border-radius: 3px 3px 0 0;
      font-weight: bold;
      line-height: 1.5em;
      padding: 0.5em 0.75em;
      margin: 0; }
    .cards .card p {
      text-align: center;
      line-height: 1.5em;
      padding: 0.75em 0.75em; }
    .cards .card:focus img, .cards .card:hover img {
      opacity: 1; }
    .cards .card:active {
      background-color: #eee; }
      .cards .card:active .card-header {
        background-color: white; }

/* FOOTER */
.footer {
  background: #1e1e1e;
  padding: 0 1.618em;
  width: 100%; }
  .footer .footer-logo {
    padding: 0 3%;
    text-align: center; }
  .footer .footer-links::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 30em) {
    .footer .footer-links {
      margin-left: 26.85574%; } }
  .footer ul {
    padding: 3%; }
    @media screen and (min-width: 30em) {
      .footer ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .footer ul:last-child {
          margin-right: 0; }
        .footer ul:nth-child(3n) {
          margin-right: 0; }
        .footer ul:nth-child(3n+1) {
          clear: left; }
        .footer ul::after {
          clear: both;
          content: "";
          display: table; } }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
    @media screen and (min-width: 30em) {
      .footer li {
        text-align: left; } }
  .footer li a {
    color: #999;
    text-decoration: none; }
    .footer li a:focus, .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: #ccc;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em; }

/* PAGINATION */
.pagination {
  text-align: center;
  margin: 2em 0; }
  .pagination ul {
    display: inline;
    text-align: center; }
    .pagination ul li {
      display: inline;
      list-style: none; }
    .pagination ul ul li {
      display: none; }
      .pagination ul ul li:nth-child(1), .pagination ul ul li:nth-child(2), .pagination ul ul li:nth-child(3) {
        display: inline; }
      @media screen and (min-width: 48em) {
        .pagination ul ul li {
          display: inline; } }
    .pagination ul li a {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: #444;
      outline: none;
      padding: 0.375em 0.809em;
      text-decoration: none;
      -webkit-transition: color .3s;
      -moz-transition: color .3s;
      -ms-transition: color .3s;
      -o-transition: color .3s;
      transition: color .3s; }
      .pagination ul li a:hover, .pagination ul li a:focus, .pagination ul li a.active {
        color: #E4222E; }

/* GALLERY */
.gallery {
  max-width: 123.75em;
  margin-left: auto;
  margin-right: auto; }
  .gallery::after {
    clear: both;
    content: "";
    display: table; }
  .gallery .rounded-gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center;
    margin: 0;
    padding: 2em; }
    .gallery .rounded-gallery-item:last-child {
      margin-right: 0; }
    @media screen and (max-width: 30em) {
      .gallery .rounded-gallery-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 1em; }
        .gallery .rounded-gallery-item:last-child {
          margin-right: 0; } }
    .gallery .rounded-gallery-item img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      border-radius: 50%; }
      .gallery .rounded-gallery-item img:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }
      @media screen and (max-width: 48em) {
        .gallery .rounded-gallery-item img {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%); } }
    .gallery .rounded-gallery-item h2 {
      padding: 1em; }
      @media screen and (max-width: 48em) {
        .gallery .rounded-gallery-item h2 {
          padding: 1em 0; } }
  .gallery .gallery-item {
    float: left;
    margin: 2em;
    width: 200px;
    height: 200px;
    position: relative; }
    @media screen and (max-width: 48em) {
      .gallery .gallery-item {
        margin: 1em; } }
    .gallery .gallery-item .overlay {
      bottom: 0;
      cursor: default;
      left: 0;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      visibility: hidden;
      z-index: 1;
      -webkit-transition: opacity .5s;
      -moz-transition: opacity .5s;
      -ms-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s; }
      .gallery .gallery-item .overlay:target {
        visibility: visible;
        opacity: 1;
        width: auto;
        height: auto;
        bottom: 0;
        right: 0; }
    .gallery .gallery-item .fullsized {
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
      position: fixed;
      overflow: hidden;
      left: 50.001%;
      top: 50.001%;
      width: 0;
      height: 0;
      z-index: 100;
      -webkit-transform: translate(-50.001%, -50.001%);
      -moz-transform: translate(-50.001%, -50.001%);
      -ms-transform: translate(-50.001%, -50.001%);
      -o-transform: translate(-50.001%, -50.001%);
      transform: translate(-50.001%, -50.001%);
      -webkit-transition: opacity .5s, top .5s;
      -moz-transition: opacity .5s, top .5s;
      -ms-transition: opacity .5s, top .5s;
      -o-transition: opacity .5s, top .5s;
      transition: opacity .5s, top .5s; }
      .gallery .gallery-item .fullsized img {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6); }
      .gallery .gallery-item .fullsized p {
        position: absolute;
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        z-index: 105;
        width: 100%;
        left: 50%;
        padding-right: 60px;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0); }
    .gallery .gallery-item .overlay:target + .fullsized {
      top: 50%;
      left: 50%;
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: 100%; }
    .gallery .gallery-item .close {
      height: 60px;
      width: 50px;
      line-height: 60px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      z-index: 105; }
      .gallery .gallery-item .close:before {
        color: white;
        content: "X";
        font-size: 40px; }
    .gallery .gallery-item .next {
      height: 50px;
      width: 50px;
      line-height: 50px;
      position: absolute;
      top: 50%;
      right: 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      z-index: 105; }
      .gallery .gallery-item .next:before {
        color: white;
        content: "\25b6";
        font-size: 40px; }
    .gallery .gallery-item .prev {
      height: 50px;
      width: 50px;
      line-height: 50px;
      position: absolute;
      top: 50%;
      left: 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      z-index: 105; }
      .gallery .gallery-item .prev:before {
        color: white;
        content: "\25c0";
        font-size: 40px; }
    .gallery .gallery-item .thumbnail {
      position: absolute;
      max-width: 200px;
      max-height: 200px;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }

/*# sourceMappingURL=styles.css.map */

{
"version": 3,
"mappings": "AAGE,IAAK;EACH,UAAU,EAAE,UAAU;;AAItB,sBAEU;EACR,UAAU,EAAE,OAAO;;;ACXzB;;;;;;;;;;;;wBAYyB;EACrB,MAAM,EAAE,CAAC;EACT,OAAO,EAAE,CAAC;EACV,MAAM,EAAE,CAAC;EACT,SAAS,EAAE,IAAI;EACf,cAAc,EAAE,QAAQ;;;AAG5B;0CAC2C;EACvC,OAAO,EAAE,KAAK;;AAElB,MAAO;EACH,UAAU,EAAE,IAAI;;AAEpB,aAAc;EACV,MAAM,EAAE,IAAI;;AAEhB;iBACkB;EACd,OAAO,EAAE,EAAE;EACX,OAAO,EAAE,IAAI;;AAEjB,KAAM;EACF,eAAe,EAAE,QAAQ;EACzB,cAAc,EAAE,CAAC;;AAErB,GAAG;EC5BC,eAAe,ED6BU,aAAa;;AAE1C,gCAMC;EALG,IAAK;IACD,OAAO,EAAC,CAAC;EACX,EAAG;IACD,OAAO,EAAC,CAAC;;;AE9BjB,UAAW;EACP,SAAS,EAAE,KAAK;EAChB,MAAM,EAAE,IAAI;EACZ,KAAK,EAAE,IAAI;;;AAIf,iBAAkB;EACd,QAAQ,EAAE,QAAQ;EAElB,4BAAW;IACP,gBAAgB,EAAE,wBAAqB;IACvC,QAAQ,EAAE,QAAQ;IAClB,UAAU,EAAE,MAAM;IAClB,KAAK,EAAE,IAAI;IACX,MAAM,EAAE,CAAC;IACT,MAAM,EAAE,KAAK;IACb,WAAW,EAAE,IAAI;IACjB,SAAS,EAAE,KAAK;IAChB,OAAO,EAAE,OAAO;ICmDpB,mCAAuB;MD5DvB,4BAAW;QAYH,OAAO,EAAE,OAAO;QAChB,MAAM,EAAE,KAAK;QACb,WAAW,EAAE,MAAM;QACnB,SAAS,EAAE,GAAG;;AAK1B,OAAQ;EAEJ,QAAQ,EAAE,QAAQ;EAClB,OAAO,EAAE,GAAG;EE9Bd,cAAS;IACP,KAAK,EAAE,IAAI;IACX,OAAO,EAAE,EAAE;IACX,OAAO,EAAE,KAAK;EDgEd,mCAAuB;IDxC3B,OAAQ;MAMI,OAAO,EAAE,GAAG;ECkCpB,mCAAuB;IDxC3B,OAAQ;MAUI,OAAO,EAAE,GAAG;EC8BpB,mCAAuB;IDxC3B,OAAQ;MAcI,OAAO,EAAE,GAAG;;AAIxB,aAAa;EGhCX,SAAS,EHtBC,QAAQ;EGwBhB,WAAI,EAAE,IAAI;EACV,YAAK,EAAE,IAAI;EDhBb,oBAAS;IACP,KAAK,EAAE,IAAI;IACX,OAAO,EAAE,EAAE;IACX,OAAO,EAAE,KAAK;EF6Cd,qBAAQ;IIAR,KAAK,EAAE,IAAsB;IAG3B,OAAO,EAAE,KAAK;IAed,YAAoB,EAAE,QAA+B;IACrD,KAAK,EAAE,IAAuC;IAE9C,gCAAa;MACX,YAAoB,EAAE,CAAC;IHH3B,mCAAuB;MDnBvB,qBAAQ;QIAR,KAAK,EAAE,IAAsB;QAG3B,OAAO,EAAE,KAAK;QAed,YAAoB,EAAE,QAA+B;QACrD,KAAK,EAAE,IAAuC;QAE9C,gCAAa;UACX,YAAoB,EAAE,CAAC;IHH3B,mCAAuB;MDnBvB,qBAAQ;QIAR,KAAK,EAAE,IAAsB;QAG3B,OAAO,EAAE,KAAK;QAed,YAAoB,EAAE,QAA+B;QACrD,KAAK,EAAE,IAAuC;QAE9C,gCAAa;UACX,YAAoB,EAAE,CAAC;EJV3B,sBAAS;IIZT,KAAK,EAAE,IAAsB;IAG3B,OAAO,EAAE,KAAK;IAed,YAAoB,EAAE,QAA+B;IACrD,KAAK,EAAE,SAAuC;IAE9C,iCAAa;MACX,YAAoB,EAAE,CAAC;IHH3B,mCAAuB;MDPvB,sBAAS;QIZT,KAAK,EAAE,IAAsB;QAG3B,OAAO,EAAE,KAAK;QAed,YAAoB,EAAE,QAA+B;QACrD,KAAK,EAAE,OAAuC;QAE9C,iCAAa;UACX,YAAoB,EAAE,CAAC;IHH3B,mCAAuB;MDPvB,sBAAS;QIZT,KAAK,EAAE,IAAsB;QAG3B,OAAO,EAAE,KAAK;QAed,YAAoB,EAAE,QAA+B;QACrD,KAAK,EAAE,IAAuC;QAE9C,iCAAa;UACX,YAAoB,EAAE,CAAC;EJG3B,wBAAW;IIzBX,KAAK,EAAE,IAAsB;IAG3B,OAAO,EAAE,KAAK;IAed,YAAoB,EAAE,QAA+B;IACrD,KAAK,EAAE,SAAuC;IAE9C,mCAAa;MACX,YAAoB,EAAE,CAAC;IHH3B,mCAAuB;MDMvB,wBAAW;QIzBX,KAAK,EAAE,IAAsB;QAG3B,OAAO,EAAE,KAAK;QAed,YAAoB,EAAE,QAA+B;QACrD,KAAK,EAAE,SAAuC;QAE9C,mCAAa;UACX,YAAoB,EAAE,CAAC;IHH3B,mCAAuB;MDMvB,wBAAW;QIzBX,KAAK,EAAE,IAAsB;QAG3B,OAAO,EAAE,KAAK;QAed,YAAoB,EAAE,QAA+B;QACrD,KAAK,EAAE,IAAuC;QAE9C,mCAAa;UACX,YAAoB,EAAE,CAAC;;;ACvF/B,QAAS;EACP,gBAAgB,EAAE,OAAgC;EAClD,MAAM,ECiCM,cAA4B;EDhCxC,MAAM,EAAE,UAAkB;EAC1B,OAAO,ECcM,KAAuB;;ADXtC;;MAEO;EACL,OAAO,EAAE,KAAK;EACd,WAAW,ECLM,uBAAW;EDM5B,SAAS,ECFM,GAAG;;ADKpB,KAAM;EACJ,WAAW,EAAE,GAAG;EAChB,aAAa,EAAE,OAAkB;EAEjC,qBAAkB;IAChB,OAAO,EAAE,GAAG;EAGd,UAAK;IACH,OAAO,EAAE,IAAI;;AAIjB;QACS;EACP,gBAAgB,ECDM,IAAI;EDE1B,MAAM,ECIM,cAA4B;EDHxC,aAAa,ECfM,GAAG;EDgBtB,UAAU,ECSM,mCAAgC;EDRhD,UAAU,EAAE,UAAU;EACtB,WAAW,EC7BM,uBAAW;ED8B5B,SAAS,EC1BM,GAAG;ED2BlB,aAAa,EAAE,MAAiB;EAChC,OAAO,EAAE,KAAiB;EAC1B,UAAU,EAAE,YAAY;EACxB,KAAK,EAAE,IAAI;EAEX;gBAAQ;IACN,YAAY,EAAE,OAA+B;EAG/C;gBAAQ;IACN,YAAY,EChBD,OAAI;IDiBf,UAAU,ECLU,mEAAgB;IDMpC,OAAO,EAAE,IAAI;;AAIjB,QAAS;EACP,MAAM,EAAE,QAAQ;;AAGlB,oBAAqB;EExBb,kBAAoB,EFyBN,IAAI;EErBlB,eAAiB,EFqBH,IAAI;EEjBlB,cAAgB,EFiBF,IAAI;EEblB,aAAe,EFaD,IAAI;EETlB,UAAY,EFSE,IAAI;;AAG1B;mBACoB;EAClB,OAAO,EAAE,MAAM;EACf,YAAY,EAAE,OAAkB;;AAGlC,kBAAmB;EACjB,cAAc,ECjDA,MAAiB;EDkD/B,KAAK,EAAE,IAAI;;AAGb,MAAO;EACL,aAAa,ECvDA,KAAuB;EDwDpC,SAAS,EAAE,IAAI;EACf,KAAK,EAAE,IAAI;;AAGb,+EAA8B;EE7CtB,kBAAoB,EF8CN,IAAI;EE1ClB,eAAiB,EF0CH,IAAI;EEtClB,cAAgB,EFsCF,IAAI;EElClB,aAAe,EFkCD,IAAI;EE9BlB,UAAY,EF8BE,IAAI;EACxB,sBAAsB,EAAE,WAAW;EACnC,gBAAgB,EClDH,OAAI;EDmDjB,aAAa,ECjEM,GAAG;EDkEtB,MAAM,EAAE,IAAI;EACZ,KAAK,EAAE,IAAI;EACX,MAAM,EAAE,OAAO;EACf,OAAO,EAAE,YAAY;EACrB,WAAW,ECjFM,uBAAW;EDkF5B,SAAS,EC9EM,GAAG;ED+ElB,WAAW,EAAE,GAAG;EAChB,WAAW,EAAE,CAAC;EACd,OAAO,EAAE,UAAU;EACnB,eAAe,EAAE,IAAI;EACrB,WAAW,EAAE,IAAI;EACjB,cAAc,EAAE,MAAM;EACtB,WAAW,EAAE,MAAM;EAEnB,4NACQ;IACN,gBAAgB,EAAE,OAA0B;IAC5C,KAAK,EAAE,IAAI;EAGb,4HAAW;IACT,MAAM,EAAE,WAAW;IACnB,OAAO,EAAE,GAAG;;AAIhB,QAAS;EAEL,aAAa,EAAE,+BAA+C;EAC9D,OAAO,EAAE,KAAK;EACd,aAAa,EC/FF,KAAuB;EDgGlC,cAAc,EAAE,GAAG;EACnB,KAAK,EAAE,IAAI;EAEX,wBAAgB;IACZ,KAAK,EAAE,qBAAqC;IAC5C,SAAS,EAAE,KAAK;IAChB,UAAU,EAAE,MAAM;;;AGxH1B,MAAM;EACJ,eAAe,EAAE,IAAI;EACrB,MAAM,EAAE,CAAC;EACT,OAAO,EAAE,CAAC;AAeZ,EAAG;EACD,aAAa,EFAC,MAAiB;EEE/B,KAAG;IACD,WAAW,EAAE,IAAI;IACjB,UAAU,EFJE,MAAiB;EEO/B,KAAG;IACD,MAAM,EAAE,CAAC;;;AC3Bb,KAAM;EFiCE,6BAAoB,EAAE,sBAAM;EAI5B,0BAAiB,EAAE,sBAAM;EAIzB,yBAAgB,EAAE,sBAAM;EAQxB,qBAAY,EAAE,sBAAM;EE/C1B,eAAe,EAAE,QAAQ;EACzB,MAAM,EAAE,QAAgB;EACxB,YAAY,EAAE,KAAK;EACnB,KAAK,EAAE,IAAI;;AAGb,EAAG;EACD,aAAa,EAAE,iBAAyC;EACxD,WAAW,EAAE,GAAG;EAChB,OAAO,EAAE,QAAgB;EACzB,UAAU,EAAE,IAAI;;AAGlB,EAAG;EACD,aAAa,EHmBD,cAA4B;EGlBxC,OAAO,EAAE,QAAgB;;AAG3B;;EAEG;EACD,cAAc,EAAE,MAAM;;;ACvBxB,IAAK;EACD,KAAK,EJ6BS,IAAU;EI5BxB,WAAW,EJII,uBAAW;EIH1B,SAAS,EJOI,GAAG;EINhB,WAAW,EJSI,GAAG;EIPlB,iCAAc;IACV,aAAa,EAAE,KAAK;IT6ExB,mCAAuB;MS9EvB,iCAAc;QAIN,aAAa,EAAE,KAAK;EAI5B,OAAG;IACC,aAAa,EAAE,cAAqB;IACpC,WAAW,EAAE,IAAI;IACjB,YAAY,EAAE,IAAI;IAClB,UAAU,EAAE,IAAI;IAChB,MAAM,EAAE,OAAe;EAG3B,MAAE;IAEE,KAAK,EJMK,IAAU;IILpB,WAAW,EJZA,GAAG;IJIpB,aAAS;MACP,KAAK,EAAE,IAAI;MACX,OAAO,EAAE,EAAE;MACX,OAAO,EAAE,KAAK;EQQd,MAAE;IACE,KAAK,EAAE,KAAK;IACZ,eAAe,EAAE,IAAI;IACrB,YAAQ;MHER,kBAAoB,EAAE,oBAAM;MAI5B,eAAiB,EAAE,oBAAM;MAYzB,UAAY,EAAE,oBAAM;MGhBhB,KAAK,EJFF,OAAI;EIOf;cACQ;IACJ,MAAM,EAAE,CAAC;IACT,SAAS,EAAE,IAAI;EAGnB,UAAM;IACF,aAAa,EAAE,SAAS;IACxB,OAAO,EAAE,YAAY;IACrB,WAAW,EJzCA,uBAAW;II0CtB,SAAS,EAAE,KAAK;IAChB,WAAW,EAAE,GAAG;IAChB,aAAa,EAAE,GAAG;IAClB,OAAO,EAAE,OAAO;IAChB,UAAU,EAAE,IAAI;IAChB,cAAc,EAAE,SAAS;EAG7B,OAAG;IACC,WAAW,EJlDG,gBAAS;IImDvB,SAAS,EAAE,GAAG;IACd,WAAW,EAAE,GAAG;EAGpB,OAAG;IACC,WAAW,EJxDG,gBAAS;IIyDvB,SAAS,EAAE,KAAK;IAChB,UAAU,EAAE,MAAM;IAClB,WAAW,EAAE,GAAG;EAGpB,OAAG;IACC,WAAW,EJ/DG,gBAAS;IIgEvB,SAAS,EAAE,KAAK;IAChB,WAAW,EAAE,GAAG;EAGpB,SAAK;IACD,UAAU,EAAE,OAAO;IACnB,aAAa,EAAE,KAAyB;IACxC,MAAM,EAAE,iBAAiB;IACzB,SAAS,EAAE,KAAK;IAChB,UAAU,EAAE,MAAM;IAClB,OAAO,EAAE,WAAW;IACpB,WAAW,EAAE,MAAM;IACnB,KAAK,EJrDK,IAAU;EIwDxB,SAAK;IACD,KAAK,EAAE,qBAAqC;IAC5C,WAAW,EJjFG,gBAAS;IIkFvB,SAAS,EAAE,KAAK;IAChB,UAAU,EAAE,MAAM;IAClB,aAAa,EAAE,KAAK;EAGxB,MAAE;IACE,WAAW,EJzFA,uBAAW;II0FtB,SAAS,EAAE,MAAM;IACjB,WAAW,EAAE,KAAK;IAClB,aAAa,EAAE,KAAK;IACpB,UAAU,EAAE,OAAO;IACnB,OAAO,EAAE,KAAK;EAIlB,eAAW;IACP,OAAO,EAAE,YAAY;IACrB,WAAW,EJpGA,uBAAW;IIqGtB,SAAS,EAAE,KAAK;IAChB,WAAW,EAAE,GAAG;IAChB,WAAW,EAAE,KAAK;IAClB,QAAQ,EAAE,QAAQ;IAClB,cAAc,EAAE,SAAS;IAEzB,oBAAK;MACD,WAAW,EJ5GJ,uBAAW;MI6GlB,SAAS,EAAE,KAAK;MAChB,UAAU,EAAE,MAAM;MAClB,QAAQ,EAAE,QAAQ;MAClB,KAAK,EAAE,KAAK;MACZ,GAAG,EAAE,IAAI;EAIjB,YAAQ;IACJ,WAAW,EJtHA,uBAAW;;;AKN9B,iBAAkB;ER8BhB,SAAS,EHtBC,QAAQ;EGwBhB,WAAI,EAAE,IAAI;EACV,YAAK,EAAE,IAAI;EQ/BX,UAAU,EAAE,OAAsB;EAClC,OAAO,EAAE,SAAS;ETcpB,wBAAS;IACP,KAAK,EAAE,IAAI;IACX,OAAO,EAAE,EAAE;IACX,OAAO,EAAE,KAAK;EDgEd,mCAAuB;IUpF3B,iBAAkB;MAMV,OAAO,EAAE,SAAS;EV8EtB,mCAAuB;IUpF3B,iBAAkB;MAUV,OAAO,EAAE,KAAK;EAGlB,mBAAE;IACE,KAAK,ELWC,IAAI;IKVV,OAAO,EAAE,GAAG;IACZ,OAAO,EAAE,IAAI;IAEb,qDAAkB;MACd,KAAK,EAAE,KAAK;EAKpB,qBAAI;IACA,UAAU,EAAE,OAAsB;IAElC,2BAAM;MACF,KAAK,EAAE,IAAI;MACX,OAAO,EAAE,MAAM;MAEf,+BAAI;QACA,OAAO,EAAE,GAAG;QACZ,KAAK,EAAE,IAAI;QACX,MAAM,ELIF,IAAI;QL8CpB,mCAAuB;UUrDf,+BAAI;YAMI,MAAM,EAAE,IAAsB;YAC9B,OAAO,EAAE,KAAK;QV8C9B,mCAAuB;UUrDf,+BAAI;YAWI,MAAM,EAAE,IAAsB;YAC9B,OAAO,EAAE,KAAK;MAItB,8BAAG;QACC,KAAK,EAAE,IAAI;QACX,WAAW,EL3CR,uBAAW;QK4Cd,WAAW,EAAE,MAAM;QACnB,SAAS,EAAE,KAAK;QAChB,KAAK,EL3BP,IAAI;QK4BF,KAAK,EAAE,IAAI;QACX,OAAO,EAAE,aAAa;QACtB,aAAa,EAAE,CAAC;QAChB,UAAU,EAAE,MAAM;QV4B9B,mCAAuB;UUrCf,8BAAG;YAYK,OAAO,EAAE,GAAG;QVyB5B,mCAAuB;UUrCf,8BAAG;YAgBK,SAAS,EAAE,KAAK;QVqBhC,mCAAuB;UUrCf,8BAAG;YAoBK,OAAO,EAAE,IAAI;IAKzB,kCAAa;MACT,OAAO,EAAE,IAAI;MACb,OAAO,EAAE,CAAC;MVUlB,mCAAuB;QUZnB,kCAAa;UAKL,OAAO,EAAC,KAAK;MVOzB,mCAAuB;QUJf,sCAAI;UAEI,OAAO,EAAC,KAAK;UACb,KAAK,EAAE,KAAK;UACZ,OAAO,EAAE,GAAG;UACZ,MAAM,EL/CN,IAAI;ML8CpB,mCAAuB;QUJf,sCAAI;UASI,MAAM,EAAE,IAAsB;UAC9B,OAAO,EAAE,KAAK;MVN9B,mCAAuB;QUJf,sCAAI;UAcI,MAAM,EAAE,IAAsB;UAC9B,OAAO,EAAE,GAAG;IAKxB,0BAAK;MACD,OAAO,EAAE,KAAK;MACd,KAAK,EAAE,KAAK;MACZ,OAAO,EAAE,IAAI;MVnBrB,mCAAuB;QUgBnB,0BAAK;UAMG,UAAU,EAAE,OAAsB;UAClC,QAAQ,EAAE,KAAK;UACf,KAAK,EAAE,IAAI;UACX,GAAG,EAAE,CAAC;UACN,IAAI,EAAE,KAAK;UACX,KAAK,EAAE,IAAI;UACX,MAAM,EAAE,IAAI;UACZ,SAAS,EAAE,KAAK;UAChB,OAAO,EAAE,GAAG;UACZ,UAAU,EAAE,IAAI;UAEhB,kBAAkB,EAAE,mCAAgC;UACpD,eAAe,EAAE,mCAAgC;UACjD,UAAU,EAAE,mCAAgC;UAE5C,kBAAkB,EAAE,eAAe;UACnC,eAAe,EAAE,eAAe;UAChC,aAAa,EAAE,eAAe;UAC9B,UAAU,EAAE,eAAe;UAE3B,iCAAS;YACL,IAAI,EAAE,CAAC;MAIf,+BAAI;QACA,QAAQ,EAAC,QAAQ;QACjB,OAAO,EAAE,YAAY;QACrB,OAAO,EAAE,KAAK;QVlD1B,mCAAuB;UU+Cf,+BAAI;YAMI,OAAO,EAAE,KAAK;YACd,UAAU,EAAE,OAAsB;YAClC,aAAa,EAAE,iBAAgC;YAE/C,yCAAY;cACR,aAAa,EAAE,IAAI;QV1DvC,mCAAuB;UU+DP,oCAAO;YACH,YAAY,EAAE,GAAG;YAEjB,8CAAU;cACN,QAAQ,EAAE,QAAQ;cAClB,OAAO,EAAE,OAAO;cAChB,KAAK,EAAE,MAAM;UAGrB,+CAAiB;YACb,MAAM,EAAE,KAAK;YACb,OAAO,EAAE,OAAO;YAChB,aAAa,EAAE,iBAAgC;YAC/C,UAAU,EAAE,OAAsB;QAG1C,oCAAK;UACD,QAAQ,EAAE,QAAQ;UAClB,OAAO,EAAE,IAAI;UACb,GAAG,EAAE,GAAG;UVlFxB,mCAAuB;YU+EX,oCAAK;cAMG,OAAO,EAAE,KAAK;cACd,QAAQ,EAAE,QAAQ;cAClB,GAAG,EAAE,CAAC;cACN,OAAO,EAAE,iBAAiB;UAG9B,yCAAK;YACD,QAAQ,EAAC,MAAM;YACf,MAAM,EAAC,CAAC;YACR,QAAQ,EAAC,QAAQ;YACjB,UAAU,EAAE,WAAW;YACvB,aAAa,EAAE,qBAAqB;YAEpC,kBAAkB,EAAE,iBAAiB;YACrC,eAAe,EAAE,iBAAiB;YAClC,aAAa,EAAE,iBAAiB;YAChC,UAAU,EAAE,iBAAiB;YVrGjD,mCAAuB;cU2FP,yCAAK;gBAaG,SAAS,ELrJV,GAAG;YL6C1B,mCAAuB;cU2FP,yCAAK;gBAgBG,OAAO,EAAE,KAAK;gBACd,MAAM,EAAE,KAAK;gBACb,OAAO,EAAE,OAAO;gBAChB,aAAa,EAAE,iBAAgC;gBAC/C,UAAU,EAAE,OAAqB;YAErC,oDAAa;cACT,aAAa,EAAE,IAAI;QAM/B,2CAAc;UACV,OAAO,EAAE,IAAI;UVzH7B,mCAAuB;YUwHX,2CAAc;cAIN,OAAO,EAAC,KAAK;cACb,MAAM,EL3KV,IAAI;cK4KA,UAAU,EAAE,WAAW;cACvB,OAAO,EAAE,SAAS;UAItB,6CAAE;YACE,OAAO,EAAE,CAAC;YAEV,iDAAI;cACA,OAAO,EAAE,IAAI;cVvIrC,mCAAuB;gBUsIH,iDAAI;kBAII,MAAM,EAAE,IAAsB;kBAC9B,KAAK,EAAE,KAAK;kBACZ,OAAO,EAAE,KAAK;kBACd,OAAO,EAAE,CAAC;;;ACjO1C,MAAO;ECmEH,OAAO,EAAE,WAAW;EACpB,OAAO,EAAE,QAAQ;EACjB,OAAO,EAAE,GAAG;EAGZ,OAAO,EAAE,YAAY;EACrB,OAAO,EAAE,SAAS;EAClB,OAAO,EAAE,WAAW;EACpB,OAAO,EAAE,IAAI;EN1CT,iBAAoB,EMmHZ,QAAQ;EN/GhB,cAAiB,EM+GT,QAAQ;ENnGhB,SAAY,EMmGJ,QAAQ;ENnHhB,iBAAoB,EM+Gd,IAAM;EN3GZ,cAAiB,EM2GX,IAAM;ENvGZ,aAAgB,EMuGV,IAAM;EN/FZ,SAAY,EM+FN,IAAM;EN/GZ,gBAAoB,EM+KZ,OAAO;EN3Kf,aAAiB,EM2KT,OAAO;EN/Jf,QAAY,EM+JJ,OAAO;EN/Kf,uBAAoB,EMyKd,aAAM;ENrKZ,oBAAiB,EMqKX,aAAM;ENjKZ,mBAAgB,EMiKV,aAAM;EN7JZ,kBAAe,EM6JT,aAAM;ENzJZ,eAAY,EMyJN,aAAM;EAkBlB,aAAa,EAZC,OAAO;ED3MnB,YAAM;IAGF,OAAO,EAAE,CAAC;ILyBV,kBAAoB,EKvBA,IAAI;IL2BxB,eAAiB,EK3BG,IAAI;ILuCxB,UAAY,EKvCQ,IAAI;ICuL9B,uBAAuB,EDvLG,IAAI;ILuBxB,iBAAoB,EKtBD,CAAC;IL0BpB,cAAiB,EK1BE,CAAC;ILsCpB,SAAY,EKtCO,CAAC;IC0K1B,iBAAiB,ED1KQ,CAAC;ILsBpB,kBAAoB,EAAE,oBAAM;IAI5B,eAAiB,EAAE,oBAAM;IAYzB,UAAY,EAAE,oBAAM;IKpCpB,aAAa,ENIA,GAAG;IMHhB,MAAM,EAAE,cAAqB;IAC7B,UAAU,EAAE,iBAA4B;IACxC,MAAM,EAAE,eAAe;IACvB,QAAQ,EAAE,QAAQ;IAClB,UAAU,EAAE,MAAM;IXkEtB,mCAAuB;MW/EvB,YAAM;QAgBE,MAAM,EAAE,KAAK;IAGjB,wBAAY;MAER,MAAM,EAAE,KAAK;MACb,UAAU,EAAE,KAAK;MACjB,gBAAgB,ENMR,IAAW;MMJnB,4BAAI;QLGR,kBAAoB,EAAE,oBAAM;QAI5B,eAAiB,EAAE,oBAAM;QAYzB,UAAY,EAAE,oBAAM;QKjBZ,sBAAsB,ENfjB,GAAG;QMgBR,uBAAuB,ENhBlB,GAAG;QMiBR,OAAO,EAAE,GAAG;QACZ,OAAO,EA5BY,GAAG;IAgC9B,mBAAO;MLNP,kBAAoB,EAAE,oBAAM;MAI5B,eAAiB,EAAE,oBAAM;MAYzB,UAAY,EAAE,oBAAM;MKRhB,gBAAgB,ENZJ,IAAI;MMahB,aAAa,EAAE,cAAqB;MACpC,aAAa,EAAE,WAA2C;MAC1D,WAAW,EAAE,IAAI;MACjB,WAAW,EAAE,KAAK;MAClB,OAAO,EAAE,YAAuC;MAChD,MAAM,EAAE,CAAC;IAGb,cAAE;MACE,UAAU,EAAE,MAAM;MAClB,WAAW,EAAE,KAAK;MAClB,OAAO,EAAE,aAAuC;IAKhD,8CAAI;MACA,OAAO,EAAE,CAAC;IAIlB,mBAAS;MACL,gBAAgB,ENnCJ,IAAI;MMqChB,gCAAa;QACT,gBAAgB,EAAE,KAAyB;;;AEnE3D,OAAQ;EACJ,UAAU,EAAE,OAAsB;EAClC,OAAO,EAAE,SAAS;EAClB,KAAK,EAAE,IAAI;EAEX,oBAAa;IACT,OAAO,EAAE,IAAI;IACb,UAAU,EAAE,MAAM;EZUxB,4BAAS;IACP,KAAK,EAAE,IAAI;IACX,OAAO,EAAE,EAAE;IACX,OAAO,EAAE,KAAK;EDoCd,mCAAqD;Ia9CrD,qBAAc;MCiChB,WAA6B,EAAE,SAAsF;EDzBnH,UAAG;IACC,OAAO,EAAE,EAAE;IbqCf,mCAAqD;MatCrD,UAAG;QV+CH,KAAK,EAAE,IAAsB;QAG3B,OAAO,EAAE,KAAK;QAed,YAAoB,EAAE,QAA+B;QACrD,KAAK,EAAE,SAAuC;QAE9C,qBAAa;UACX,YAAoB,EAAE,CAAC;QYZ7B,wBAAuB;UACrB,YAAoB,EAAE,CAAC;QAIvB,0BAAyB;UACvB,KAAK,EARY,IAAkC;QdxDvD,iBAAS;UACP,KAAK,EAAE,IAAI;UACX,OAAO,EAAE,EAAE;UACX,OAAO,EAAE,KAAK;EYSd,UAAG;IACC,WAAW,EAAE,KAAK;IAClB,UAAU,EAAE,IAAI;IAChB,UAAU,EAAE,MAAM;IbwBtB,mCAAqD;Ma3BrD,UAAG;QAMK,UAAU,EAAE,IAAI;EAIxB,YAAK;IACD,KAAK,ERfC,IAAI;IQgBV,eAAe,EAAE,IAAI;IAErB,sCACY;MACR,KAAK,EAAE,KAAK;EAIpB,aAAM;IACF,KAAK,ERhBO,IAAW;IQiBvB,SAAS,EAAE,GAAG;IACd,WAAW,EAAE,GAAG;IAChB,aAAa,EAAE,KAAK;;;AGrD5B,WAAY;EACR,UAAU,EAAE,MAAM;EAClB,MAAM,EAAE,KAAK;EAEb,cAAG;IACC,OAAO,EAAE,MAAM;IACf,UAAU,EAAE,MAAM;IAElB,iBAAG;MACC,OAAO,EAAE,MAAM;MACf,UAAU,EAAE,IAAI;IAGpB,oBAAM;MACF,OAAO,EAAE,IAAI;MAEb,uGAEmB;QACf,OAAO,EAAE,MAAM;MhBqC3B,mCAAqD;QgB3CjD,oBAAM;UAUE,OAAO,EAAE,MAAM;IAIvB,mBAAK;MVML,kBAAoB,EAAE,oBAAM;MAI5B,eAAiB,EAAE,oBAAM;MAYzB,UAAY,EAAE,oBAAM;MUpBhB,KAAK,EXCC,IAAU;MWAhB,OAAO,EAAE,IAAI;MACb,OAAO,EAAE,eAAiC;MAC1C,eAAe,EAAE,IAAI;MAErB,kBAAkB,EAAC,SAAS;MAC5B,eAAe,EAAC,SAAS;MACzB,cAAc,EAAC,SAAS;MACxB,aAAa,EAAC,SAAS;MACvB,UAAU,EAAC,SAAS;MAEpB,gFACqB;QACjB,KAAK,EXXN,OAAI;;;AY/BnB,QAAS;Ef8BP,SAAS,EHtBC,QAAQ;EGwBhB,WAAI,EAAE,IAAI;EACV,YAAK,EAAE,IAAI;EDhBb,eAAS;IACP,KAAK,EAAE,IAAI;IACX,OAAO,EAAE,EAAE;IACX,OAAO,EAAE,KAAK;EgBjBd,8BAAsB;Id8DtB,KAAK,EAAE,IAAsB;IAG3B,OAAO,EAAE,KAAK;IAed,YAAoB,EAAE,QAA+B;IACrD,KAAK,EAAE,SAAuC;Ic/E5C,UAAU,EAAE,MAAM;IAClB,MAAM,EAAE,CAAC;IACT,OAAO,EAAE,GAAG;Id+Ed,yCAAa;MACX,YAAoB,EAAE,CAAC;IHH3B,mCAAuB;MiBjFvB,8BAAsB;Qd8DtB,KAAK,EAAE,IAAsB;QAG3B,OAAO,EAAE,KAAK;QAed,YAAoB,EAAE,QAA+B;QACrD,KAAK,EAAE,IAAuC;QczExC,OAAO,EAAE,GAAG;Qd2ElB,yCAAa;UACX,YAAoB,EAAE,CAAC;IczEvB,kCAAI;MXmBJ,cAAoB,EAAE,eAAM;MAgB5B,MAAY,EAAE,eAAM;MWjChB,aAAa,EAAC,GAAG;MAEjB,wCAAQ;QXeZ,cAAoB,EAAE,aAAM;QAgB5B,MAAY,EAAE,aAAM;MNmCxB,mCAAuB;QiBtEnB,kCAAI;UXmBJ,cAAoB,EAAE,aAAM;UAgB5B,MAAY,EAAE,aAAM;IWtBpB,iCAAG;MACC,OAAO,EAAE,GAAG;MjBwDpB,mCAAuB;QiBzDnB,iCAAG;UAGK,OAAO,EAAE,KAAK;EAK1B,sBAAc;IACV,KAAK,EAAE,IAAI;IACX,MAAM,EAAE,GAAG;IACX,KAAK,EAAE,KAAK;IACZ,MAAM,EAAE,KAAK;IACb,QAAQ,EAAE,QAAQ;IjB4CtB,mCAAuB;MiBjDvB,sBAAc;QAQN,MAAM,EAAE,GAAG;IAGf,+BAAS;MACL,MAAM,EAAE,CAAC;MACT,MAAM,EAAE,OAAO;MACf,IAAI,EAAE,CAAC;MACP,OAAO,EAAE,CAAC;MACV,QAAQ,EAAE,KAAK;MACf,KAAK,EAAE,CAAC;MACR,GAAG,EAAE,CAAC;MACN,UAAU,EAAE,MAAM;MAClB,OAAO,EAAE,CAAC;MAEV,kBAAkB,EAAE,WAAW;MAC/B,eAAe,EAAE,WAAW;MAC5B,cAAc,EAAE,WAAW;MAC3B,aAAa,EAAE,WAAW;MAC1B,UAAU,EAAE,WAAW;MAEvB,sCAAS;QACL,UAAU,EAAE,OAAO;QACnB,OAAO,EAAE,CAAC;QACV,KAAK,EAAE,IAAI;QACX,MAAM,EAAE,IAAI;QACZ,MAAM,EAAE,CAAC;QACT,KAAK,EAAE,CAAC;IAIhB,iCAAW;MACP,UAAU,EAAE,kBAAe;MAC3B,OAAO,EAAE,CAAC;MACV,QAAQ,EAAE,KAAK;MACf,QAAQ,EAAE,MAAM;MAChB,IAAI,EAAE,OAAO;MACb,GAAG,EAAE,OAAO;MACZ,KAAK,EAAE,CAAC;MACR,MAAM,EAAE,CAAC;MACT,OAAO,EAAE,GAAG;MAEZ,iBAAiB,EAAE,6BAA6B;MAChD,cAAc,EAAE,6BAA6B;MAC7C,aAAa,EAAE,6BAA6B;MAC5C,YAAY,EAAE,6BAA6B;MAC3C,SAAS,EAAE,6BAA6B;MAExC,kBAAkB,EAAE,oBAAoB;MACxC,eAAe,EAAE,oBAAoB;MACrC,cAAc,EAAE,oBAAoB;MACpC,aAAa,EAAE,oBAAoB;MACnC,UAAU,EAAE,oBAAoB;MAEhC,qCAAI;QACA,QAAQ,EAAE,QAAQ;QAClB,UAAU,EAAE,IAAI;QAChB,SAAS,EAAE,IAAI;QACf,GAAG,EAAE,GAAG;QACR,IAAI,EAAE,GAAG;QACT,SAAS,EAAE,qBAAqB;QAChC,OAAO,EAAE,GAAG;QAEZ,kBAAkB,EAAE,kCAA+B;QACnD,eAAe,EAAE,kCAA+B;QAChD,UAAU,EAAE,kCAA+B;MAG/C,mCAAE;QACE,QAAQ,EAAE,QAAQ;QAClB,UAAU,EAAE,MAAM;QAClB,UAAU,EAAE,kBAAe;QAC3B,KAAK,EAAE,KAAK;QACZ,OAAO,EAAE,GAAG;QACZ,KAAK,EAAE,IAAI;QACX,IAAI,EAAE,GAAG;QACT,aAAa,EAAE,IAAI;QACnB,SAAS,EAAE,kBAAkB;QAC7B,iBAAiB,EAAE,kBAAkB;QACrC,cAAc,EAAE,kBAAkB;QAClC,aAAa,EAAE,kBAAkB;QACjC,YAAY,EAAE,kBAAkB;IAKxC,mDAA2B;MACvB,GAAG,EAAE,GAAG;MACR,IAAI,EAAE,GAAG;MACT,OAAO,EAAE,CAAC;MACV,UAAU,EAAE,OAAO;MACnB,KAAK,EAAE,IAAI;MACX,MAAM,EAAE,IAAI;IAGhB,6BAAO;MACH,MAAM,EAAE,IAAI;MACZ,KAAK,EAAE,IAAI;MACX,WAAW,EAAE,IAAI;MACjB,QAAQ,EAAE,QAAQ;MAClB,GAAG,EAAE,CAAC;MACN,KAAK,EAAE,CAAC;MACR,UAAU,EAAE,MAAM;MAClB,OAAO,EAAE,GAAG;MAEZ,oCAAS;QACL,KAAK,EAAE,KAAK;QACZ,OAAO,EAAE,GAAG;QACZ,SAAS,EAAE,IAAI;IAIvB,4BAAM;MACF,MAAM,EAAE,IAAI;MACZ,KAAK,EAAE,IAAI;MACX,WAAW,EAAE,IAAI;MACjB,QAAQ,EAAE,QAAQ;MAClB,GAAG,EAAE,GAAG;MACR,KAAK,EAAE,CAAC;MACR,UAAU,EAAE,MAAM;MAClB,UAAU,EAAE,kBAAe;MAC3B,OAAO,EAAE,GAAG;MAGZ,mCAAS;QACL,KAAK,EAAE,KAAK;QACZ,OAAO,EAAE,OAAO;QAChB,SAAS,EAAE,IAAI;IAIvB,4BAAM;MACF,MAAM,EAAE,IAAI;MACZ,KAAK,EAAE,IAAI;MACX,WAAW,EAAE,IAAI;MACjB,QAAQ,EAAE,QAAQ;MAClB,GAAG,EAAE,GAAG;MACR,IAAI,EAAE,CAAC;MACP,UAAU,EAAE,MAAM;MAClB,UAAU,EAAE,kBAAe;MAC3B,OAAO,EAAE,GAAG;MAEZ,mCAAS;QACL,KAAK,EAAE,KAAK;QACZ,OAAO,EAAE,OAAO;QAChB,SAAS,EAAE,IAAI;IAIvB,iCAAW;MACP,QAAQ,EAAE,QAAQ;MAClB,SAAS,EAAE,KAAK;MAChB,UAAU,EAAE,KAAK;MACjB,GAAG,EAAE,GAAG;MACR,IAAI,EAAE,GAAG;MACT,YAAY,EAAE,IAAI;MAClB,SAAS,EAAE,qBAAqB",
"sources": ["../sass/neat/grid/_box-sizing.scss","../sass/base/_reset.scss","../sass/bourbon/css3/_image-rendering.scss","../sass/base/_grid-settings.scss","../sass/neat/grid/_media.scss","../sass/bourbon/addons/_clearfix.scss","../sass/neat/grid/_outer-container.scss","../sass/neat/grid/_span-columns.scss","../sass/base/_forms.scss","../sass/base/_variables.scss","../sass/bourbon/addons/_prefixer.scss","../sass/base/_lists.scss","../sass/base/_tables.scss","../sass/base/_typography.scss","../sass/base/_menu.scss","../sass/base/_cards.scss","../sass/bourbon/css3/_flex-box.scss","../sass/base/_footer.scss","../sass/neat/grid/_shift.scss","../sass/neat/grid/_omega.scss","../sass/base/_pagination.scss","../sass/base/_gallery.scss"],
"names": [],
"file": "styles.css"
}
