{% extends 'AppBundle::main.html.twig' %}

{% block extra %}<meta name="robots" content="noindex">{% endblock %}
{% block title %}Proyecto nuevo | NZ Reformas{% endblock %}

{% block content %}
    <article>
        <nav class="breadcrumbs">
            <a href="{{ path('app_homepage') }}">Inicio</a>
            <a href="{{ path('backend_homepage') }}" >Panel de control</a>
            <a href="{{ path('backend_projects',{'page': 1}) }}" >Proyectos</a>
        </nav>
        <h1>Proyecto nuevo</h1>
        {% include "BackendBundle:Project:form.html.twig" %}
        <footer>
            <a href="{{ path('app_back') }}" >Atrás</a>
        </footer>
    </article>
{% endblock %}