{# src/BlogBundle/Resources/views/blog.html.twig #}
{% extends '::base.html.twig' %}


{% block main %}
    <h1>
        <a href="{{ path('blog_homepage',{ 'page': 1 }) }}">LOGO NZ Blog</a>
    </h1>
    <main class="primary" >
        {% block content %}
            Contenido principal del Blog
        {% endblock %}
    </main>
    <aside class="secondary" >
        {% block sidebar %}
            {{ render(controller('BlogBundle:sidebar:show')) }}
        {% endblock %}
    </aside>
{% endblock %}
