{# src/BlogBundle/Resources/views/blog.html.twig #}
{% extends '::base.html.twig' %}

{% block main %}

    <main class="primary" >
        {% block content %}
            Contenido principal del Blog
        {% endblock %}
    </main>
    <aside class="secondary" >
        {% block sidebar %}
            {{ render(controller('BlogBundle:Sidebar:show')) }}
        {% endblock %}
    </aside>
{% endblock %}
