{# src/Main/PagesBundle/Resources/views/Default/home.html.twig #}
{% extends 'MainPagesBundle::main.html.twig' %}


{% block body %}
    <section class="content">
        {% block content %}
            <article>
                <header>
                    <h3>Reformas en Zaragoza</h3></header>
                <p>Reformas en Zaragoza de pisos, baños, cocinas, locales comerciales, oficinas, comunidades, 
                    rehabilitaciones, etc. Solicite presupuesto de nuestros servicios, rellenando el siguiente 
                    formulario o puede llamarnos por teléfono al 976 56 55 24, adelantándonos la información necesaria 
                    para estimar el precio de la reforma. Contactaremos con usted lo antes posible, para presentarle 
                    nuestra mejor oferta o solicitar, si fuera necesario, ampliación de algún detalle.</p>
            </article>
            <article>
                <header>
                    <h3>Financiación</h3></header>
                <p>¿Quíere reformar su hogar o su negocio? En NZ Reformas podrá elegir la opción de financiación que 
                    mejor se adapte a sus necesidades. Financiación directa "Sin Bancos" hasta en 5 años. NZ Reformas e 
                    Interiorismo es una empresa constructora con amplia experiencia en edificación y reformas de 
                    cualquier tipo, disponemos de un gran equipo humano, altamente cualificado y con gran 
                    profesionalidad, que se implican al máximo día a día para obtener los mejores resultados, y para 
                    conseguir la satisfacción del cliente.</p>
            </article>
        {% endblock %}
    </section>
{% endblock %}