{% extends 'AppBundle::main.html.twig' %}
{% import "AppBundle:Static:share.html.twig" as share %}

{% block title %}Baños | NZ Reformas{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Baños</h1>
        </header>

        <section>
            <p>
            </p>
        </section>
        {{ share.social( app.request.uri ) }}
    </article>
{% endblock %}